*{
  padding: 0;
  margin: 0;
 box-sizing: border-box;
}

:root{
  --White: hsl(0, 0%, 100%);
--Light-grayish-violet: hsl(0, 0%, 80%);
--Dark-grayish-violet: hsl(278, 5%, 55%);
--Very-dark-violet: hsl(278, 68%, 11%);
--Linear-gradient: hsl(249, 99%, 64%) ;
--to-hsl:hsl(278, 94%, 30%);
--Red: hsl(0, 100%, 66%);
}

.main-section {
  display: flex;
  height: 100vh;
}
.App .purple-part{
  background-color:var(--to-hsl) ;
  width: 390px;
  position: relative;
}
.purple-part img{
  width: 100%;
  height: 100%;
}

.white-part{
  /* background-color: brown; */
  width:1000px;
  display: flex;
  justify-content: right;
  /* justify-content: center; */
  align-items: center;
}
form{
  /* margin-right: 200px; */
  margin-right: 20%;
  
  /* width: 300px; */
  width:33%
}
form input{
  border:1px solid var(--Dark-grayish-violet);
  width:100%;
  margin:15px 0px;
  padding:12px ;
  
  border-radius: 8px;
  display: flex;
}
button{
  width:100%;
  background-color:var(--Very-dark-violet) ;
  padding:13px 0;
  color: white;
  border:none;
  border-radius: 8px;
  margin-top: 20px;
  cursor: pointer;
}

.purple_cart{
/* background-color:var(--Very-dark-violet); */
border-radius: 8px;
display: flex;
position: absolute;
top:43%;
left: 18%;
transform: translate(-35%,-85%);
/* flex-direction: column; */
gap:20px;
width:370px;
height: 200px;
color: white;
/* padding: 20px; */
text-transform: capitalize;


}
.intro-part{
  
  /* background-color: chocolate; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.purple_cart img{
  width: 100%;
  height: 100%;
  position: relative;
  
}
.container{
  width: 100%;
  position: absolute;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap:36px;
  /* background-color: bisque; */
  
}

.all-circle{
  display: flex;
  align-items: center;
  gap:20px;
}
.first-circle{
  width:40px;
  height: 40px;
  border-radius: 50px;
  background-color: white;
}
.second-circle{
  width:20px;
  height: 20px;
  border-radius: 50px;
  border: 1px solid var(--Light-grayish-violet);
  /* background-color: black; */
}
.purple_cart h1{
  font-size: 19px;
}
span{
  font-size: 12px;
}
.gray_cart{
background-color:var(--Light-grayish-violet);
border-radius: 8px;
display: flex;
position: absolute;
top:70%;
left: 17%;
transform: translate(-10%,-65%);
flex-direction: column;
align-items: center;
gap:27px;
width:370px;
height: 200px; 
}
.gray_cart img{
  width: 100%;
  height: 100%;
}
/* .gray_cart .black{
  margin-top: 27px;
  width:100%;
  height: 50px;
  background-color:hsl(270, 3%, 16%) ;
}
.gray_cart .light-gray{
  width: 80%;
  height: 35px;
  background-color: var(--Dark-grayish-violet);
  border-radius: 8px;
  text-align: end;
  padding: 5px;
  color: white;
}
.lines{
  
  font-weight: 700;
  color: var(--Dark-grayish-violet);
} */
.delete{
  display: none;
}
.show{
  display: block;
}
.thank{
  width: 300px;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-right: 22%;
}
.thank-circle{
  color: white;
  font-size: 32px;
  text-align: center;
  padding-top: 1px;
  width: 55px;
  height: 55px;
  border-radius: 50px;
  background-color: var(--Linear-gradient);
}
.thank h1{
  font-size: 25px;
}
.error{
  font-size: 12px;
  padding: 3px;
  color:var(--Red);
  display: none;
}
/* input:invalid[focued="true"]{
  border:1px solid var(--Red);
} */
input:invalid[focused="true"]~span{
  display: block;
}


























/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
